.repolink {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.repolink:hover {
  text-decoration: none;
  opacity: 1;
}

.icon {
  height: 24px;
  width: 24px;
  fill: var(--ifm-font-color-base);
}

.name {
  padding: 0 4px;
  color: var(--ifm-font-color-base);
}
